@use "../variables.scss" as var;

.footer {
  padding-top: 5rem;
  background-color: var.$dark-color;
  color: var.$white-color;
  text-align: center;
}

.credit {
  background-color: rgb(29, 29, 29);
  padding: 1rem;
  margin-top: 2rem;

  a {
    color: rgb(1, 150, 170);
  }
}
